.gradient-bg {
    display: inline-block;
    max-height: 418px;
    overflow: hidden;

    background: -moz-linear-gradient(bottom, rgba(0,0,0,0) 0%, rgba(229,231,235, 1) 100%);
    background: -webkit-gradient(linear, left bottom, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(229,231,235, 1) 100%);
    background: -o-linear-gradient(bottom, rgba(0,0,0,0) 0%,rgba(229,231,235, 1) 100%);
    background: -ms-linear-gradient(bottom, rgba(0,0,0,0) 0%,rgba(229,231,235, 1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(229,231,235, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
}

@media (prefers-color-scheme: dark) {
    .gradient-bg {
        background: -moz-linear-gradient(bottom, rgba(0,0,0,0) 0%, rgba(55,65,81, 1) 100%);
        background: -webkit-gradient(linear, left bottom, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(55,65,81, 1) 100%);
        background: -o-linear-gradient(bottom, rgba(0,0,0,0) 0%,rgba(55,65,81, 1) 100%);
        background: -ms-linear-gradient(bottom, rgba(0,0,0,0) 0%,rgba(55,65,81, 1) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(55,65,81, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
    }
}

.gradient-bg .close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: lightgray;
    font-size: 2.5rem;
    cursor: pointer;
}

.gradient-bg div{
    position: absolute;
    top: 320px;
    left: 25px;
}

@media only screen and (max-width: 770px) {
    .gradient-bg div {
        top: 250px;
    }
}

@media only screen and (max-width: 642px) {
    .gradient-bg div {
        top: 175px;
        left: 10px;
    }
}

@media only screen and (max-width: 572px) {
    .gradient-bg div {
        top: 110px;
        left: 10px;
    }
}

@media only screen and (max-width: 420px) {
    .gradient-bg div {
        display: none;
    }
}

.gradient-bg img{
    position:relative;
    z-index:-1;
    display:block;
    width:100%;
}