.necro-slider {
    height: 800px;
}

@media only screen and (max-width: 600px) {
    .necro-slider {
        height: 320px
    }
}

.bg-cloud {
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bg-frostbite {
    background-image: url("https://i.imgur.com/TlzC5E1.jpg");
}

.bg-invertedSouls {
    background-image: url("https://i.imgur.com/mtSOWNR.png");
}